@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1450px;
    margin: auto;
    padding: 0;
    color: #3A3A3A;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo b{
    font-size: 4vh;
    font-weight: 700;
    color: #3a3a3a;
}
.fa-cart-shopping {
    font-size: 4vh;
}
.fa-magnifying-glass{
    font-size: 3vh;
}
/* -----------------------------
    journey as a ingluencer
-------------------------------- */
img{
    width: 100%;
}
.slaiding{
    display: flex;
    margin: 0px 5%;
    
}
.btn{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    color: #FFF;
}
.fa-right-long{
    margin-left: 5px;
}
.col-2{
    width: 50%;
}
.col-2 img{
    width: 440px;
    height: 414px;
}
.col-2-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}
.col-2 strong{
    font-size: 52px;
}
.dispiction{
    font-size: 17px;
    margin-bottom: 30px;
}